---
# frontpage has no special title
title: ""
pageable: false
page_classes: front-page header-page
per_page: 5
blog_summary_length: 500
---
.jumbotron
  %h1
    Create and Run Applications in Linux Containers
  %p.lead
    Create your application using 
    %a{:href => "http://docker.io"} Docker
    containers. Deploy and manage containerized applications on a proven, 
    trusted platform.
    
  %p
    %strong Project Atomic introduces Atomic App
    &mdash; an implementation of the 
    #{link_to "Nulecule", "/docs/nulecule"}
    specification, which lets you manage multi-container applications and 
    orchestration metadata as easily as you manage RPMs. 
       
  %p.buttons
    %a.btn.btn-default{:href => "/docs/atomicapp" }
      %i.fa.fa-graduation-cap.text-primary
      Learn more!
      %i.fa.fa-long-arrow-right

  = partial "social"

.row.featurette
  .col-md-12#secondary
    .row
      .col-xs-12.col-lg-4
        %h2
          Atomic App
        %p
          With Atomic App, you can use existing containers as building 
          blocks for your new application product or project.
      
        %p
          Databases, web servers, and other common components are
          vital parts of applications and services. Utilizing existing
          containers to provide these core infrastructure components lets 
          you focus more on building the stuff that matters and less time
          packaging and setting up the common plumbing required.
      
        %p
          %a( href="/docs/atomicapp" )
            %i.fa.fa-fw.fa-graduation-cap
            Learn more about Atomic App
      
      .col-xs-12.col-lg-4
        %h2
          Nulecule
          %small /NOO-le-kyul/ 
          %small (noun)
        %p
          [Nulecule is a made-up word](http://simpsons.wikia.com/wiki/Made-up_words#N)
          meaning "the mother of all atomic articles". Sounds like "molecule". But different. 
        %p
          Also a specification for applications composed from 
          multiple containers. Check it out on Github below, or read through
          #{link_to "the Getting Started -guide", "https://github.com/projectatomic/nulecule/blob/master/docs/getting-started.md" }
          if you want to know more.
        
        %p
          %a( href="https://github.com/projectatomic/nulecule/" )
            %i.fa.fa-fw.fa-github
            Nulecule on Github
      .col-xs-12.col-lg-4
        %h2 Atomic Host
      
        %p 
          Based on proven technology either from Red Hat Enterprise Linux or the 
          CentOS and Fedora projects, Atomic Host is a lightweight, immutable platform, 
          designed with the sole purpose of running containerized applications.
      
        %p
          To balance the need between long-term stability and new 
          features, we are providing different releases of Atomic Host
          for you to choose from.
        %p
          %a( href="/releases" )
            %i.fa.fa-fw.fa-download
            Get Started

.row.featurette
  .col-sm-12.col-md-12

    %h2 Community News

    %section.blog-posts
      = partial :blog_posts, locals: {summarize: current_page.data.blog_summary_length}

      - blog_url = "#{blog.options[:prefix]}#{blog.options[:page_link]}/".sub(":num", "2")

      %h3=link_to "&raquo; View older news", blog_url, class: "more-link"

.row.featurette
  .col-sm-12.col-md-12
    %p.text-center Ready to try Atomic?
    %p.text-center.buttons
      %a.btn.btn-default{:href => "/download"}
        %i.fa.fa-rocket
        Get Started
        %i.fa.fa-long-arrow-right
