---
# frontpage has no special title
title: ""
pageable: false
page_classes: front-page header-page
per_page: 5
blog_summary_length: 500
---
.jumbotron
  %h1
    Deploy and Manage Your 
    %a{:href => "http://docker.io"} Docker
    Containers.
  %p.lead
    Project Atomic integrates the tools and patterns of container-based application 
    and service deployment with trusted operating system platforms to deliver an 
    end-to-end hosting architecture that's modern, reliable, and secure.

  %p
    Fedora, CentOS, and Red Hat Enterprise Linux-based Atomic Hosts are now available for download.
   
  %p.buttons
    %a.btn.btn-default{:href => "/download" }
      %i.fa.fa-rocket
      Download and Get Started
      %i.fa.fa-long-arrow-right

  = partial "social"

  .row
    .col-xs-12.col-lg-6
      %h2
        Nulecule
        %small /NOO-le-kyul/ 
        %small (noun)
      %p
        Nulecule is a made-up word meaning "the mother of all atomic 
        particles". Sounds like "molecule". But different. 
      %p
        Also a specification for deploying and complex 
        multi-container applications and their dependencies.
      %p
        #{link_to "&raquo; More about Nulecule", "/docs/nulecule"}

    .col-xs-12.col-lg-6
      %h2
        AtomicApp
      %p
        AtomicApp implementats the Nulecule Specification in a practice.
        It can be used to bootstrap, install and run complete (and complex)
        applications in a container context. 
      %p
        AtomicApp itself is packaged as a container.
      %p
        #{link_to "&raquo; Learn about Atomic App", "/docs/atomicapp"}

.row.featurette
  .col-sm-12.col-md-12

    %h2 Community News

    %section.blog-posts
      = partial :blog_posts, locals: {summarize: current_page.data.blog_summary_length}

      - blog_url = "#{blog.options[:prefix]}#{blog.options[:page_link]}/".sub(":num", "2")

      %h3=link_to "&raquo; View older news", blog_url, class: "more-link"

.row.featurette
  .col-sm-12.col-md-12
    %p.text-center Ready to try Atomic?
    %p.text-center.buttons
      %a.btn.btn-default{:href => "/download"}
        %i.fa.fa-rocket
        Get Started
        %i.fa.fa-long-arrow-right
