---
# frontpage has no special title
title: ""
pageable: false
page_classes: front-page header-page
per_page: 3
blog_summary_length: 500
---
.jumbotron
  %h1
    Deploy and Manage Your 
    %a{:href => "http://docker.io"} Docker
    Containers.
  %p.lead
    Project Atomic integrates the tools and patterns of container-based application 
    and service deployment with trusted operating system platforms to deliver an 
    end-to-end hosting architecture that's modern, reliable, and secure.

  %p
    Fedora, CentOS, and Red Hat Enterprise Linux-based Atomic Hosts are now available for download.
   
  %p.buttons
    %a.btn.btn-default{:href => "/download" }
      %i.fa.fa-rocket
      Download and Get Started
      %i.fa.fa-long-arrow-right

  = partial "social"

  .row
    -# main point, full width on smaller screens
    .col-xs-12.col-lg-4
      %h2
        %i.fa.fa-thumbs-up
        =lorem.words(4).capitalize
      %p
        =lorem.sentences(3)
      %p
        #{link_to "Learn more about point 1", "#"}

    -# 2 subpoints, taking two columns on smaller screens
    .col-xs-12.col-sm-6.col-lg-4
      %h2
        %i.fa.fa-thumbs-up
        =lorem.words(3).capitalize
      %p
        =lorem.sentences(3)
      %p
        #{link_to "Learn more about point 2", "#"}

    .col-xs-12.col-sm-6.col-lg-4
      %h2
        %i.fa.fa-thumbs-up
        =lorem.words(4).capitalize
      %p
        =lorem.sentences(3)
      %p
        #{link_to "Learn more about point 3", "#"}

.row.featurette
  .col-sm-12.col-md-12

    - blog_archives = blog.articles.length - current_page.data.per_page
    - blogwidth = blog_archives > 0 ? 8 : 12

    %h2 ManageIQ Community News

    %section{class: "col-md-#{blogwidth}"}
      %section.blog-posts
        = partial :blog_posts, locals: {summarize: current_page.data.blog_summary_length}

    - if blog_archives > 0
      %section.col-md-4
      %section.blog-archive
        - blog_url = "#{blog.options[:prefix]}#{blog.options[:page_link]}/".sub(':num', '2')

        %h2 Recent archives
        %ol
          - blog.articles.drop(current_page.data.per_page).take(blog.options[:per_page] - current_page.data.per_page).each do |article|
            %li= link_to article.title, article.url

        = link_to "&raquo; View older posts", blog_url, class: "more-link"

.row.featurette
  .col-sm-12.col-md-12
    %p.text-center Ready to try Atomic?
    %p.text-center.buttons
      %a.btn.btn-default{:href => "/download"}
        %i.fa.fa-rocket
        Get Started
        %i.fa.fa-long-arrow-right
