---
pageable: true
---
.jumbotron
  %h1
    Deploy and Manage Your 
    %a{:href => "http://docker.io"} Docker
    Containers.
  %p.lead
    Project Atomic integrates the tools and patterns of container-based application 
    and service deployment with trusted operating system platforms to deliver an 
    end-to-end hosting architecture that's modern, reliable and secure.

  %p
    Cloud images are available for download, supporting VirtualBox, QEMU/KVM and OpenStack. Support for
    bare metal installation is coming.
   
  %p.buttons
    %a.btn.btn-default{:href => "/download" }
      %i.fa.fa-rocket
      Get Started
      %i.fa.fa-long-arrow-right

  = partial "social"

.row.featurette
  .col-sm-7.col-md-7
    %h2 Trusted Distributions, Atomic Updates
    %p

      An Atomic Host is a lean operating system designed to run Docker
      containers, built from upstream CentOS, Fedora, or Red Hat Enterprise
      Linux RPMs. It provides all the benefits of the upstream distribution, plus
      the ability to perform atomic upgrades and rollbacks &mdash; giving the best
      of both worlds: A modern update model from a Linux distribution you know
      and trust.

    %p

      #{link_to "Learn how rpm-ostree brings atomicity to your favorite Linux distributions.", "/docs/os-updates"}

  .col-sm-5.col-md-5
    %img.img-responsive{:alt => "", "src" => "/images/speedboat.png"}/

.row.featurette
  .col-sm-5.col-md-5
    %img.img-responsive{:alt => "", "src" => "/images/secure-containers.png"}/
  .col-sm-7.col-md-7
    %h2 Secure Production Containers
    %p

      Running containers in production systems demands strong safeguards &mdash; especially
      in multi-tenant environments. Atomic Hosts use SELinux to protect and
      confine Docker containers with strict mandatory access control inside Linux
      Container namespaces.

    %p

      #{link_to "Find out how SELinux and Docker work together to keep your applications secure.", "/docs/docker-and-selinux"}

.row.featurette
  .col-sm-7.col-md-7
    %h2 Integrated and Portable
    %p

      Docker containers can easily move across environments &mdash; from a developers laptop to
      a production host, or even across operating systems.  When combined with systemd,
      administrators can be certain those containers run on startup, restart when they crash, and are
      audited, logged, and securely managed. Atomic taps geard to install and link
      Docker containers into systemd and coordinate these containers across hosts.

    %p

      #{link_to "Learn about how geard brings systemd and Docker together.", "/docs/geard"}

  .col-sm-5.col-md-5
    %img.img-responsive{:alt => "", "src" => "/images/portable.png"}/

.row.featurette
  .col-sm-5.col-md-5
    %img.img-responsive{:alt => "", "src" => "/images/cockpit.png"}/

  .col-sm-7.col-md-7
    %h2 Unified Management from Containers to the OS
    %p

      Containers are elastic and dynamic, and you need management that
      is just as dynamic. Atomic includes a preview of Cockpit, a new
      administration tool Linux servers via a Web browser.  It allows
      admins to manage storage, services, and inspect journals
      straight from the browser, and directly inspect your containers
      and images. Atomic also makes it easy to integrate your existing
      monitoring infrastructure in privileged containers.

    %p

      #{link_to "Find out how Cockpit can ease container management.", "/docs/cockpit"}

.row.featurette
  .col-sm-12.col-md-12
    %p.text-center Ready to try Atomic?
    %p.text-center.buttons
      %a.btn.btn-default{:href => "/download"}
        %i.fa.fa-rocket
        Get Started
        %i.fa.fa-long-arrow-right
