---
# frontpage has no special title
title: ""
pageable: false
page_classes: front-page header-page
per_page: 5
blog_summary_length: 500
---
.jumbotron
  %h1
    Deploy and Run Complex Containers
  %p.lead
    Create your application using a set of
    %a{:href => "http://docker.io"} Docker
    containers. Deploy as bundle on a proven, trusted platform.
    
  %p
    Project Atomic introduces Atomic App, that implements the Nulecule
    specification which lets you manage multiple containers as a bundle.
    Stand on the shoulders of giants and utilize proven, existing containers 
    as building blocks for your service or application.
       
  %p.buttons
    %a.btn.btn-default{:href => "/docs/atomicapp" }
      %i.fa.fa-graduation-cap.text-primary
      Learn more about Atomic App
      %i.fa.fa-long-arrow-right

  = partial "social"

  .row
    .col-xs-12.col-lg-4
      %h2 Atomic Host
      
      %p 
        Based on proven technology from Red Hat Enterprise Linux and the CentOS
        project, Atomic Host is a very lightweight platform, designed with the
        sole purpose to run docker containers.
        
    .col-xs-12.col-lg-4
      %h2
        Nulecule
        %small /NOO-le-kyul/ 
        %small (noun)
      %p
        Nulecule is a made-up word meaning "the mother of all atomic 
        particles". Sounds like "molecule". But different. 
      %p
        Also a specification for deploying and complex 
        multi-container applications and their dependencies.
      %p
        #{link_to "&raquo; More about Nulecule", "/docs/nulecule"}

    .col-xs-12.col-lg-4
      %h2
        Complex Containers
      %p
        Examples of applications that benefit from being deployed in 
        multi-container fashion.
      %p
        AtomicApp itself is packaged as a container.
      %p
        #{link_to "&raquo; Learn about Atomic App", "/docs/atomicapp"}

.row.featurette
  .col-sm-12.col-md-12

    %h2 Community News

    %section.blog-posts
      = partial :blog_posts, locals: {summarize: current_page.data.blog_summary_length}

      - blog_url = "#{blog.options[:prefix]}#{blog.options[:page_link]}/".sub(":num", "2")

      %h3=link_to "&raquo; View older news", blog_url, class: "more-link"

.row.featurette
  .col-sm-12.col-md-12
    %p.text-center Ready to try Atomic?
    %p.text-center.buttons
      %a.btn.btn-default{:href => "/download"}
        %i.fa.fa-rocket
        Get Started
        %i.fa.fa-long-arrow-right
